<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\sofit\log\rails.log" startupTimeLimit="120" processPath="C:\Ruby24-x64\bin\ruby.exe" arguments="C:\Inetpub\wwwroot\sofit\bin\rails server -p %HTTP_PLATFORM_PORT% -b 127.0.0.1 -e production" />
  </system.webServer>
</configuration>