// Place all the styles related to the trackings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #2A2928;
}

th {
  color: white;
}

td {
  color: white;
}

h2 {
  color: white;
  left: 40%;
}

h3 {
  color: #00C7D7;
}

.moveRight {
  float: right;
}
